body
{
    background-image: url('images/Background.jpeg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
}
.container
{
    width: 40%;
    height: auto;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;    
    align-items: center;
    text-align: center;
}
.container h1
{
    color: green;
    font-family: fantasy;
    font-size: 50px;
    margin: 0;
}
.container p
{
    color: green;
    font-family: 'Papyrus', 'Lucida Calligraphy', 'Copperplate', cursive;
    font-size: large;
    font-weight: bold;
    margin: 0;
    margin-top: 3%;
    margin-bottom: 3%;
}
.form-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#pH, #rainfall, #humidity, #temperature 
{
    width: 35%;
    font-family: cursive;
    padding: 10px;
    color: green;
}

#N, #P, #K 
{
    width: 21.5%;
    font-family: cursive;
    padding: 10px;
    color: green;
}
button
{
    width: 20%;
    height: 25%;
    background-color: green;
    color: white;
    font-family: cursive;
    font-size: large;
    padding: 1%;
    border-radius: 10px;
    margin: 3%;
    border: none;
}
#output, #output p, #output span
{
    width: 76%;
    background-color: white;
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
    padding-left: 3%;
}